weapon-extractor/images
weapon-extractor/thumbs
weapon-extractor/_selenium_profile
weapon-extractor/helldivers_weapons.json

.vscode/settings.json

node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
